html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

#map-canvas {
	opacity: 0.9;
	background-blend-mode: multiply;
}

aside {
    position: absolute;
    background-color: #FFF;
    border: 1px solid #dadfe1;
    min-width: 500px;
    top: 15px;
    left: 15px;
    z-index: 999;
}

aside:hover {
	-webkit-box-shadow: rgba(0,0,0,0.2) 0 0 4px;
	-moz-box-shadow: rgba(0,0,0,0.2) 0 0 4px;
	box-shadow: rgba(0,0,0,0.2) 0 0 4px;
}

aside input {
	width: 100%;
	padding: 10px 15px;
	border: 0;
	outline: 0;
}

#behancers {
	overflow: auto;
	max-height: 85vh;
}

.behancer {
	padding: 10px 15px;
	border-top: 1px solid #e6e6e6
}

.behancer img {
	margin-right: 15px;
}